Question 3

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Question 4

In [2]:
%matplotlib inline

Question 5

In [3]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv')

Question 5

In [4]:
gdp_df.head(6)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN

Question 6

In [5]:
internet_df = pd.read_csv('../data/internet_use.csv',nrows=4496)

In [6]:
internet_df.head(6)

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN

Question 7/8

In [7]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6870 entries, 0 to 6869
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  6870 non-null   object
 1   Year             6870 non-null   object
 2   Value            6868 non-null   float64
 3   Value Footnotes  1 non-null      float64
dtypes: float64(2), object(2)
memory usage: 214.8+ KB

4 columns, 6870 rows, objects and floats

Question 7/8

In [8]:
internet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4496 entries, 0 to 4495
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  4496 non-null   object
 1   Year             4496 non-null   object
 2   Value            4495 non-null   float64
 3   Value Footnotes  948 non-null    float64
dtypes: float64(2), object(2)
memory usage: 140.6+ KB

4 columns, 4496 rows, objects and floats

Question 9

In [9]:
gdp_df.tail(10)

,Country or Area,Year,Value,Value Footnotes
6860,Zimbabwe,1997,3580.048793,NaN
6861,Zimbabwe,1996,3520.430146,NaN
6862,Zimbabwe,1995,3226.413930,NaN
6863,Zimbabwe,1994,3263.934978,NaN
6864,Zimbabwe,1993,3033.504852,NaN
6865,Zimbabwe,1992,3054.889178,NaN
6866,Zimbabwe,1991,3426.598094,NaN
6867,Zimbabwe,1990,3324.348171,NaN
6868,footnoteSeqID,Footnote,NaN,NaN
6869,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

In [10]:
internet_df.tail(10)

     Country or Area      Year     Value  Value Footnotes
4486        Zimbabwe      2001  0.799846              NaN
4487        Zimbabwe      2000  0.401434              NaN
4488        Zimbabwe      1999  0.161676              NaN
4489        Zimbabwe      1998  0.081648              NaN
4490        Zimbabwe      1997  0.033080              NaN
4491        Zimbabwe      1996  0.016790              NaN
4492        Zimbabwe      1995  0.007684              NaN
4493        Zimbabwe      1994  0.001739              NaN
4494        Zimbabwe      1990  0.000000              NaN
4495   footnoteSeqID  Footnote       NaN              NaN

Question 10

In [11]:
gdp_df = gdp_df.drop(columns=['Value Footnotes'])

In [12]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6870 entries, 0 to 6869
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  6870 non-null   object
 1   Year             6870 non-null   object
 2   Value            6868 non-null   float64
dtypes: float64(1), object(2)
memory usage: 161.1+ KB

In [13]:
internet_df = internet_df.drop(columns=['Value Footnotes'])

In [14]:
internet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4496 entries, 0 to 4495
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  4496 non-null   object
 1   Year             4496 non-null   object
 2   Value            4495 non-null   float64
dtypes: float64(1), object(2)
memory usage: 105.5+ KB

Question 11

In [15]:
gdp_df = gdp_df.rename(columns={'Country or Area': 'Country', 'Year': 'Year', 'Value': 'GDP_Per_Capita'})

In [16]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6870 entries, 0 to 6869
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         6870 non-null   object
 1   Year            6870 non-null   object
 2   GDP_Per_Capita  6868 non-null   float64
dtypes: float64(1), object(2)
memory usage: 161.1+ KB

Question 12

In [17]:
internet_df = internet_df.rename(columns={'Country or Area': 'Country', 'Year': 'Year', 'Value': 'Internet_Users_Pct'})

In [18]:
internet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4496 entries, 0 to 4495
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             4496 non-null   object
 1   Year                4496 non-null   object
 2   Internet_Users_Pct  4495 non-null   float64
dtypes: float64(1), object(2)
memory usage: 105.5+ KB

Question 13

In [19]:
gdp_and_internet_use = pd.merge(gdp_df, internet_df)

Question 14

In [20]:
gdp_and_internet_use.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3459 entries, 0 to 3458
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             3459 non-null   object
 1   Year                3459 non-null   object
 2   GDP_Per_Capita      3458 non-null   float64
 3   Internet_Users_Pct  3458 non-null   float64
dtypes: float64(2), object(2)
memory usage: 135.1+ KB

In [21]:
gdp_and_internet_use.head()

       Country  Year  GDP_Per_Capita  Internet_Users_Pct
0  Afghanistan  2014     2102.385234            6.390000
1  Afghanistan  2013     2116.465454            5.900000
2  Afghanistan  2012     2075.491747            5.454545
3  Afghanistan  2011     1904.559799            5.000000
4  Afghanistan  2010     1957.029338            4.000000

Question 15

In [22]:
gdp_and_internet_use.tail(5)

            Country      Year  GDP_Per_Capita  Internet_Users_Pct
3454       Zimbabwe      1996     3520.430146            0.016790
3455       Zimbabwe      1995     3226.413930            0.007684
3456       Zimbabwe      1994     3263.934978            0.001739
3457       Zimbabwe      1990     3324.348171            0.000000
3458  footnoteSeqID  Footnote             NaN                 NaN

Question 16

In [23]:
years = gdp_and_internet_use[gdp_and_internet_use['Year'].isin(['2004', '2009', '2014'])]
print(years)

          Country  Year  GDP_Per_Capita  Internet_Users_Pct
0     Afghanistan  2014     2102.385234            6.390000
5     Afghanistan  2009     1758.904043            3.550000
10    Afghanistan  2004     1200.278256            0.105809
13        Albania  2014    11623.866679           60.100000
18        Albania  2009    10346.864199           41.200000
...           ...   ...             ...                 ...
3419       Zambia  2009     2917.516220            6.310000
3424       Zambia  2004     2261.766537            2.013550
3436     Zimbabwe  2014     2955.240287           19.890000
3441     Zimbabwe  2009     1925.364381           11.360000
3446     Zimbabwe  2004     2480.859342            6.564045

[482 rows x 4 columns]

Question 17

In [24]:
year_2004 = years[years['Year'].isin(['2004'])]
year_2009 = years[years['Year'].isin(['2009'])]
year_2014 = years[years['Year'].isin(['2014'])]
print(year_2004.head())
print(year_2009.head())
print(year_2014.head())

                Country  Year  GDP_Per_Capita  Internet_Users_Pct
10          Afghanistan  2004     1200.278256            0.105809
23              Albania  2004     7604.838002            2.420388
44              Algeria  2004    10058.435939            4.634475
66               Angola  2004     5593.241537            0.464815
86  Antigua and Barbuda  2004    18745.681534           24.266544
                Country  Year  GDP_Per_Capita  Internet_Users_Pct
5           Afghanistan  2009     1758.904043                3.55
18              Albania  2009    10346.864199               41.20
39              Algeria  2009    10782.361398               11.23
61               Angola  2009     7643.493749                6.00
81  Antigua and Barbuda  2009    20046.839017               42.00
                Country  Year  GDP_Per_Capita  Internet_Users_Pct
0           Afghanistan  2014     2102.385234                6.39
13              Albania  2014    11623.866679               60.10
34              Algeria  2014    11512.705405               18.09
56               Angola  2014     8239.828837               21.26
76  Antigua and Barbuda  2014    18104.241470               64.00

Question 18

In [30]:
year_2014[['Country','Internet_Users_Pct']].max()

Country               Zimbabwe
Internet_Users_Pct       98.16
dtype: object

Question 19

In [31]:
year_2014[['Country','Internet_Users_Pct']].min()

Country               Afghanistan
Internet_Users_Pct           1.14
dtype: object

Question 20

In [33]:
year_2004[['Country','Internet_Users_Pct']].max()

Country               Zimbabwe
Internet_Users_Pct       83.89
dtype: object

In [34]:
year_2004[['Country','Internet_Users_Pct']].min()

Country               Afghanistan
Internet_Users_Pct       0.024337
dtype: object

In [35]:
year_2009[['Country','Internet_Users_Pct']].max()

Country               Zimbabwe
Internet_Users_Pct        93.0
dtype: object

In [36]:
year_2009[['Country','Internet_Users_Pct']].min()

Country               Afghanistan
Internet_Users_Pct       0.185252
dtype: object

Question 21

In [37]:
year_2014[['Country','GDP_Per_Capita']].max()

Country               Zimbabwe
GDP_Per_Capita    108760.91603
dtype: object

Question 22

In [38]:
year_2014[['Country','GDP_Per_Capita']].min()

Country           Afghanistan
GDP_Per_Capita     886.235777
dtype: object

Question 23

In [46]:
year_2004.plot(kind='scatter', x= 'Internet_Users_Pct', y='GDP_Per_Capital)
plt.show()

SyntaxError: EOL while scanning string literal (1122861460.py, line 1)